@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --light-grey: #D5E1EF;
    --grey: #7D889E;
    --dark-navy: #1F314F;
}

html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--light-grey);
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    display: block;
}

.card {
    background-color: white;
    border-radius: 2rem;
    max-width: 320px;
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.05);
}

.card__body {
    padding: 1.6rem;
}

.card__qr-code img {
    border-radius: 1rem;
}

.card__title {
    color: var(--dark-navy);
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 2.4rem;
    text-align: center;
}

.card__text {
    color: var(--grey);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    padding: 1.6rem;
    text-align: center;
}
